@import url('https://fonts.cdnfonts.com/css/zeyada');
@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    margin:20px;
    font-family: Arial;
    
}

.container_product {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item_product {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
    height: 500px;
  }
  .item_product a{
    text-decoration: none;
    color: black;

  }
 
  .item_product img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    aspect-ratio: 16/9;
    object-position: center;
    object-fit: cover;
    height:70%;
    pointer-events: none; 
  }
  .item_product h3 {
    margin-top: 0;
    font-size: 18px;
  }
  .item_product p {
    color: #666;
    font-size: 14px;
  }
  
/* itemproduct :end */




