@import url('https://fonts.cdnfonts.com/css/zeyada');
@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    margin:20px;
    font-family: Arial;
    
}
button{
  background-color: rgb(85, 135, 85);
}


/*carousel*/
.content{
    margin-top: 30px;
    margin-left: 10px;
    
}




/* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
  display: none;
}

.prev-btn {
  background : none;
  cursor: pointer;
}

.next-btn {
  cursor: pointer;
}

.item {
  scroll-snap-align: center;
  min-width: 120px;
  height: 120px;
  background-color: deeppink;
  border-radius:8px;
}

.item_product a{
  font-family: 'poppins';
  outline: none;
    color: black;
    text-decoration: none;
}


/* table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #0f0f0f;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  table .imgCell img{
    display: flex;
    /* column-span: 2/-2; */
    /* aspect-ratio: 16/9; */
    /* overflow: scroll; */
    height: 200px;
  }
  
  table button{
    padding: 0.25rem 0.75rem;
    color:rgb(246, 238, 238);
  }
  
  .editBtn{
    background-color: green;
  }
  
  .deleteBtn{
    background-color: red;
  }
   a{
   color: white;
   text-decoration: none;
   padding: 3px;
  }