@import url('https://fonts.cdnfonts.com/css/zeyada');
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    background-color:white;
    font-family: "Roboto", sans-serif;
  }
  
  nav{
    font-weight: 590;
    margin-top: 125px;
    font-family:zeyada;
    display: flex;
    justify-content: center;
    font-size: 80px;
}
nav a{
    text-decoration: none !important;
    color: black;
}

  .signup-box {
   
    border: solid black 2px;
    width: 360px;
    height: 450px;
    padding: 40px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
  }
  
  /* .login-box {
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
  } */
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
 
  
  form input {
    margin-top: 10px;
    width: 100%;
    padding: 7px;
    border: none;
    border: 2px solid gray;
    border-radius: 6px;
    outline: none;
  }

  input[type="button"] {
    width: 300px;
    height: 40px;
    margin-top: 20px;
    border: none;
    background-color: #7FA6EE;
    color: white;
    font-size: 18px;
  }
  input[type="button"]:hover{
    background: black;
  }

  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  p a{
    color: #7FA6EE;
  }
  .para-2 {
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    text-decoration: none;
    color: #7FA6EE;
  }

  a:hover{
    text-decoration:underline;
  }
