@import url('https://fonts.cdnfonts.com/css/zeyada');
@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    margin:20px;
    /* background-color: rgba(0, 0, 0, 0.408); */
}
nav{
    /* padding-top: 30px; */
    
    padding-right: 10px;
    padding-left: 10px;
    /* background-color: bisque; */
    height: 100px;
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.logo{
    /* padding-right: 20px; */
    margin-top: 15px;
    font-size: 50px;
    font-family: zeyada;
    font-weight: 550;
}
.menu ul{
    display: flex;
    align-items: center;
    font-family: 'poppins';
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}
.menu ul li{
    
    font-size: 16px;
    padding-left: 50px;
    list-style: none;
}
.menu ul li a{ 
    text-decoration: none;
    color: black;
}
.menu ul li img{
    
    width: 50px;
    height:50px ;
    border-radius: 100%;
}
form{
    display: grid;
   
    
}
.product-data{
    padding: 5px;
}